<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %X{processId} %-5level %logger{36} - %msg%n"/>
    <property name="CONSOLE_LOG_PATTERN" value="${LOG_PATTERN}"/>
    <property name="FILE_LOG_PATTERN" value="${LOG_PATTERN}"/>

    <logger name="com.nomi" level="INFO"/>



</configuration>